body {
  font-family: "Poppins", sans-serif;
  color: #333333;
  font-weight: 500;
}

.header {
  padding: 42px 52px 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 96px;
}

.header__title {
  font-family: "Heebo", sans-serif;
  font-weight: 800;
  font-size: 36px;
  line-height: 53px;
}

.header__nav-bar ul {
  display: flex;
}
.header__nav-bar li {
  cursor: pointer;
  margin-right: 30px;
}
.header__nav-bar li:last-child {
  margin-right: 0;
}

/* --------------------------------------------------- */

.central-col-alignment {
  max-width: 886px;
  margin: 0 auto;
}

.central-wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

.home {
  margin-bottom: 42px;
}

.home__highlight {
  color: #2d9cdb;

  font-size: 18px;
  line-height: 27px;
  margin-bottom: 16px;
}

.home__title {
  max-width: 543px;
  font-size: 48px;
  line-height: 72px;
  margin-bottom: 42px;
}

.heroImage {
  display: block;
  margin: 0 auto;
  border-radius: 18px;
  width: 95%;
}

.home-description {
  margin-top: 42px;
  margin-bottom: 200px;
}

.article-alignment {
  max-width: 366px;
}

.home-description__title {
  font-size: 48px;
  line-height: 72px;
  margin-bottom: 42px;
}

.home-description__text {
  color: #4f4f4f;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 42px;
}

/* --------------------------------------------------- */

.contact__form {
  display: flex;
  justify-content: space-between;
  background: #f2f2f2;
  border-radius: 12px;
  border-color: transparent;
  padding: 4px;
  margin-top: 9px;
}

.contact__highlight {
  color: #828282;
  font-size: 14px;
  line-height: 21px;
}

.contact__form input {
  border: none;
  background: transparent;
  flex-grow: 1;
  padding: 15px 0 15px 21px;
  font-family: "Poppins", sans-serif;
}

.contact__form input::placeholder {
  color: #bdbdbd;
}

.button {
  background: #2d9cdb;
  color: #f2f2f2;
  padding: 11px 28px;
  border-radius: 12px;
  border-color: transparent;
  cursor: pointer;
}

/* --------------------------------------------------- */

.title {
  max-width: 380px;
  font-size: 36px;
  line-height: 54px;
}

.services-section {
  margin-bottom: 194px;
}
.service img {
  border-radius: 16px;
  padding: 20px;
  width: 67px;
  height: 67px;
  box-sizing: border-box;
}

.service__1 img {
  background: #2d9cdb;
}

.service__2 img {
  background: #27ae60;
}

.service__3 img {
  background: #eb5757;
}

.services-section .title {
  margin-bottom: 42px;
}

.services-section__services {
  display: flex;
  justify-content: space-between;
}

.service {
  width: 33.33333%;
  padding: 46px 34px;
  cursor: pointer;
}

.service:hover {
  background: #ffffff;
  box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
  border-radius: 24px;
}

.service__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  margin: 35px 0 24px 0;
}

.service__description,
.team-description {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 30px;
}

/* --------------------------------------------------- */

.work-section {
  margin-bottom: 220px;
}

.work-section .title {
  margin-bottom: 188px;
}

.item-highlight {
  display: block;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  margin-top: 20px;
  color: #828282;
}

.item-title {
  font-size: 24px;
  line-height: 36px;
}

.works {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.works__item {
  width: 50%;
}

.works__item img {
  border-radius: 12px;
  display: block;
}

.work-position {
  position: relative;
  top: -176px;
  right: 0%;
}

.work-section__more {
  cursor: pointer;
  text-align: right;
  align-items: center;
}

.work-section__more a {
  font-size: 24px;
  line-height: 36px;
  color: #2d9cdb;
  margin-right: 17px;
  vertical-align: middle;
}
/* --------------------------------------------------- */

.team-section {
  display: flex;
  margin-bottom: 196px;
  justify-content: space-between;
  align-items: center;
}

.team {
  display: flex;
  flex-direction: column;
  max-width: 280px;
}

.team__highlight {
  font-size: 18px;
  line-height: 27px;
  color: #eb5757;
  margin-bottom: 7px;
}

.team .title {
  margin-bottom: 14px;
}

.team-members {
  display: flex;
  align-items: center;
}

/* TODO: tener cuidado con margin-right, esta afectando a todas las imagenes dentro */
.team-members img {
  border-radius: 24px;
  margin-right: 24px;
}

.team-members__group img:first-of-type {
  display: block;
  width: 80%;
  margin-bottom: 24px;
}
/* --------------------------------------------------- */

.reviews-section {
  max-width: 937px;
  margin-bottom: 203px;
}

.reviews-section .title {
  max-width: none;
  margin-bottom: 36px;
}

.review-client {
  display: flex;
}

/* TODO: con las imagenes, cuando ponemos width: X%, o max-width: Xpx, es bueno
tambien ponerle height: auto, para que automaticamente se ajuste al alto
*/
.client {
  max-width: 82px;
  border-radius: 12px;
  margin-right: 30px;
}

.review-client__title {
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 12px;
}

.review-client__description {
  font-size: 18px;
  line-height: 27px;
  color: #828282;
}
/* --------------------------------------------------- */
.footer {
  color: #ffffff;
  background: #100e1d;
  padding-top: 46px;
  padding-bottom: 24px;
}

.footer-alignment {
  max-width: 1135px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 118px;
}

.footer a {
  color: #ffffff;
}

.footer__nav ul {
  display: flex;
  flex-direction: column;
}
.footer__nav li {
  cursor: pointer;
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
}
.footer__nav li:last-child {
  margin-bottom: 0;
}

.footer__social-media h2 {
  font-family: Heebo;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 53px;
}

.footer__social-media svg {
  margin-right: 11px;
}

.footer__social-media svg:last-child {
  margin-right: 0;
}

.contact__highlight--footer {
  color: #f2f2f2;
}

.copy {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}

@media screen and (max-width: 1080px) {
  .central-page-alignment {
    padding: 13px 19px 24px;
  }

  .header {
    padding: 0;
  }

  .article-alignment {
    margin: 0 auto;
  }

  .services-section__services {
    flex-direction: column;
    align-items: center;
  }

  .service {
    margin-bottom: 14px;
    max-width: 341px;
  }

  .work-position {
    position: static;
  }

  .works {
    flex-direction: column;
    align-items: center;
  }

  .works__item {
    margin-bottom: 36px;
  }
  .works__item:last-child {
    margin-bottom: 0;
  }

  .team-section {
    flex-direction: column;
  }

  .team {
    margin-bottom: 36px;
  }
  .team-members {
    max-width: 350px;
  }
}
